.projectCard{
    width:22rem;
    border-radius: 0.6rem;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 5px #06b6d4;
    transition: all ease 200ms;
    min-height: 30rem;;
}
.projectCard:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 16px #06b6d4;

}
.cardImg{
    height: 200px;
}
.projectName{
    font-family: "Raleway" ,sans-serif;
    margin-top: 15px;
    color: #3b82f6;
    font-size: 24px;
    font-weight: 700;
}

.projectDesc{
    font-family: "Raleway" ,sans-serif;
    margin-top: 15px;
    color: #505050;
    font-size: 15px;
    font-weight: 400;
}
.btnaa{
    background-image: linear-gradient(to right,  #06b6d4 ,#3b82f6);
    padding: 10px 15px;
    color: #fff;
    font-family: "Raleway",sans-serif;
    border: none;
    border-radius:5px ;

}