.formContact{
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
}
.formTitle{
    font-size: 20px;
    color: #3b82f6;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
}
input.inputForm::placeholder{
    color: #3b82f6;

}
.messageError{
    color:red
}
.contactTitle{
    font-size: 2rem;
    color: #3b82f6;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-align: center;
}
.contactImg{
    width: 100%;
    margin-top: 3rem;
}
@media (max-width:767px) {
    .contactImg{
        display: none;
    }
}